@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 213 97% 87%; /* blue-200 */
    --color-primary-light: 214 95% 93%; /* blue-100 */
    --color-secondary: 141 79% 85%; /* green-200 */
    --color-disabled: 213 27% 84%; /* slate-300 */
    --color-error: 0 72% 51%; /* red-600 */
    --color-surface: 210 40% 98%; /* slate-50 */
    --color-surface-overlay: 210 40% 98% / 0.2; /* slate-50/20 */
    --color-text: 222 47% 11%; /* slate-900 */
    --color-text-placeholder: 215 16% 47%; /* slate-500 */
    --color-text-disabled: 215 25% 27%; /* slate-700 */
    --color-border: 215 16% 47%; /* slate-500 */
  }

  input,
  button {
    @apply outline-0 focus-visible:outline-2;
  }

  input::placeholder {
    @apply text-text-placeholder;
  }

  button {
    cursor: pointer;
  }
}

@layer utilities {
  .remove-input-arrows {
    /* Chrome, Safari, Edge, Opera */
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    &[type="number"] {
      -moz-appearance: textfield;
    }
  }
}
