@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input,
  button {
    @apply outline-0 focus-visible:outline-2;
  }

  input::placeholder {
    @apply text-slate-500;
  }

  button {
    cursor: pointer;
  }
}

@mixin glass-tube {
  @apply shadow shadow-slate-400;
  border: 1px solid theme("colors.slate.700 / 0.5");
  border-radius: 9999px;
  background-image: linear-gradient(
    to bottom,
    theme("colors.slate.50 / 0.5"),
    theme("colors.slate.900 / 0.2") 10%,
    theme("colors.slate.900 / 0.1") 30%,
    theme("colors.slate.50 / 0.05") 50%,
    theme("colors.slate.50 / 0.05") 80%,
    theme("colors.slate.50 / 0.4")
  );
  pointer-events: none;
}

@layer components {
  /* Standalone glass tubes */
  .glass-tube {
    @include glass-tube;
  }

  /* Glass-tube container (overlayed on top using pseudo-elements) */
  .glass-tube-container {
    position: relative;
    border-radius: 9999px;

    &::after {
      @include glass-tube;
      position: absolute;
      inset: 0;
      content: "";
    }
  }

  /* Make surface look like glass */
  .glass-surface {
    @apply shadow shadow-slate-500 backdrop-blur-sm;
    position: relative;
    padding: 1px;

    /* Gradient border */
    &::before {
      position: absolute;
      mask:
        linear-gradient(white 0 0) content-box,
        linear-gradient(white 0 0);
      mask-composite: exclude;
      inset: 0;
      border-radius: inherit;
      background-image: linear-gradient(
        to bottom right,
        theme("colors.slate.900 / 0.4"),
        theme("colors.slate.50 / 0.5")
      );
      padding: 1px;
      pointer-events: none;
      content: "";
    }

    /* Gradient surface */
    &::after {
      position: absolute;
      inset: 1px;
      border-radius: inherit;
      background-image: linear-gradient(
        to bottom right,
        theme("colors.slate.50 / 0.2"),
        theme("colors.slate.500 / 0.06") 30%,
        theme("colors.slate.500 / 0.06") 70%,
        theme("colors.slate.900 / 0.15")
      );
      pointer-events: none;
      content: "";
    }
  }
}

@layer utilities {
  .remove-input-arrows {
    /* Chrome, Safari, Edge, Opera */
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    &[type="number"] {
      -moz-appearance: textfield;
    }
  }
}
